/* Variables de color */
:root {
  --color-primario: #3498db;
  --color-secundario: #3b3b3b;
  --color-hoy: #3498db;
  --color-festivo: #e74c3c;
  --color-texto: #333;
  --color-fondo: #fff;
}


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-primario);
  color: var(--color-texto);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body, .parent, .navbar, .days div {
  transition: background-color 1s ease, color 1s ease;
}

.citaTexto {
  transition: background-color .9S ease, color .9s ease;
}

.parent {
  background-color: var(--color-fondo);
  width: 80%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 60px repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  border-collapse: collapse;
}

.div1 { grid-area: 1 / 1 / 2 / 8; }
.div2 { grid-area: 2 / 1 / 10 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 8; } /* Fecha actual */
.div5 { grid-area: 3 / 4 / 4 / 8; } /* Cita especial */
.div3 { grid-area: 4 / 4 / 10 / 8; } /* Calendario y botones */
.div6 { grid-area: 10 / 1 / 11 / 8; }

/* Estilos generales para las divisiones */
.div1, .div2, .div3, .div4, .div5, .div6 {
  border: 1px solid rgb(146, 146, 146);
}

.navbar {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  color: var(--color-fondo);
  padding: 10px 0;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.img-mounth{
  background-color: var(--color-secundario);
  contain: content;
}

.img-mounth img {
  width: 100%;
  height: auto;
}

.div3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 p {
  font-size: 1.2em;
  font-weight: bold;
}

.botones-interaccion {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0px 10px 0px;
}

.botones-interaccion div {
  display: flex;
  flex-direction: row;
  min-width: 200px;
}

.botones-interaccion div:nth-child(1) {
  margin-right: 5px;
}

.botones-interaccion select, .botones-interaccion button {
  padding: 5px 10px;
  font-size: 1em;
}

.botones-interaccion select {
  border-radius: 3px;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1rem;
}

.weekdays {
  background-color: var(--color-primario);
  color: var(--color-fondo);
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 10px 0 8px;
  border-radius: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.days {
  min-width: 300px;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 3px;
  margin-top: 6px;
}

.days div {
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: var(--color-fondo);
  border-radius: 3px;
}

.days div:hover {
  background-color: #00000028;
}

.days div.hoy {
  background-color: var(--color-hoy);
  color: var(--color-fondo);
  font-size: 1.3em;
  font-weight: 600;
  border: 2px solid black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.days div.festivo {
  background-color: var(--color-festivo);
  color: var(--color-fondo);
  font-weight: bold;
}

.days div.otro-mes {
  background-color: #dbdbdb;
  color: #afafaf;
}

.citaTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style: italic;
  background-color: var(--color-secundario);
  color: var(--color-fondo);
  padding: 10px;
}

.footer {
  background-color: var(--color-secundario);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-primario);
  text-decoration: underline;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .parent {
    width: 100%;
  }

  .navbar h1 {
    font-size: 2em;
  }

  .botones-interaccion {
    padding: 5px 0px 0 0px;
  }

  .botones-interaccion select, .botones-interaccion button {
    margin: 5px 0;
  }
}



@media (max-width: 600px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .navbar {
   height: 40px;
  }

  .navbar h1 {
    font-size: 1.7em;
  }

  .img-mounth{
    height: 200px;
  }
  
  .botones-interaccion {
    background-color: #e6e6e6;
    flex-direction: column;
    padding: 0;
  }

  .botones-interaccion div {
    display: flex;
    flex-direction: row;
  }

  .botones-interaccion select {
    margin-bottom: 1rem;
  }

  .days div {
      grid-auto-rows: 40px;
      line-height: 40px;
  }
  .botones-interaccion select, .botones-interaccion button {
      margin: 5px 0;
  }
}
